@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

body {
  font-family: "Inter", sans-serif;
}

.wrapper {
  display: flex;
}

.main {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  background-color: #f8f9fa;
}

#sidebar {
  width: 70px;
  min-width: 70px;
  z-index: 1000;
  transition: all 0.25s ease-in-out;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #eff0f1;
}

#sidebar.expand {
  width: 260px;
  min-width: 260px;
}

.toggle-btn {
  background-color: transparent;
  cursor: pointer;
  border: 0;
  padding: 1rem 1.5rem;
}

.toggle-btn i {
  font-size: 1.5rem;
  color: #fff;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  text-align: center;
  padding-left: 10px;
  padding-top: 5px;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
  display: none;
}

.sidebar-nav {
  padding: 2rem 0;
  flex: 1 1 auto;
}

a.sidebar-link {
  padding: 8px 12px;
  color: #929aa7;
  margin: 0;
  display: block;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  border-left: 3px solid transparent;
  text-decoration: none;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.sidebar-link i {
  font-size: 20px;
  margin-right: 6px;
  display: block;
  width: 100%;
}

a.sidebar-link:hover {
  background-color: #eae9f7;
  color: #2e2767;
}

.sidebar-link-active {
  background-color: #eae9f7 !important;
  color: #2e2767 !important;
}

a.sidebar-link-logout {
  padding: 8px 12px;
  color: #929aa7;
  margin: 0;
  display: block;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  border-left: 3px solid transparent;
  text-decoration: none;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.sidebar-link-logout i {
  font-size: 20px;
  margin-right: 6px;
}

a.sidebar-link-logout:hover {
  background-color: #fbf2f0;
  color: #2e2767;
}

.sidebar-item {
  position: relative;
  width: 100%;
  flex: 1;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
  position: absolute;
  top: 0;
  left: 70px;
  background-color: #fff;
  padding: 0;
  min-width: 190px;
  display: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 4px;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown {
  display: flex;
  max-height: 15em;
  width: 100%;
  opacity: 1;
}

.list-unstyled {
  margin-left: 0;
  border-left: none;
  padding-left: 0;
  list-style: none;
  width: 100%;
}

.sidebar-dropdown .sidebar-item {
  width: 100%;
}

.sidebar-dropdown .sidebar-link {
  padding: 8px 12px 8px 54px;
  width: 100%;
  display: block;
  color: #929aa7;
  transition: all 0.3s ease;
}

.sidebar-dropdown .sidebar-link:hover {
  background-color: #eae9f7;
  color: #2e2767;
  width: 100%;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown + .sidebar-dropdown .sidebar-link {
  width: 100%;
  padding: 8px 16px;
}

#sidebar.expand .sidebar-dropdown {
  width: 100%;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: flex;
  padding: 2px;
  position: absolute;
  right: 1rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2s ease-out;
}

.material-symbols-outlined {
  margin-right: 12px;
}
