@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
body {
    font-family: 'Inter', sans-serif;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #6C757D;
}

.breadcrumbs .material-symbols-outlined {
    font-size: 20px;
    margin-right: 8px;
    color: #3E368C;
}

.breadcrumbs a {
    font-weight: 600;
    color: #3E368C;
    text-decoration: none;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs .separator {
    margin: 0 8px;
    color: #ADB5BD;
}