@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #6c757d;
}

.breadcrumbs .material-symbols-outlined {
  font-size: 20px;
  margin-right: 8px;
  color: #3e368c;
}

.breadcrumbs a {
  font-weight: 600;
  color: #3e368c;
  text-decoration: none;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs .separator {
  margin: 0 8px;
  color: #adb5bd;
}

@media (max-width: 768px) {
  .breadcrumbs {
    flex-direction: column;
    align-items: flex-start;
  }
  .breadcrumbs .material-symbols-outlined {
    margin-bottom: 8px;
  }
}

.btn-custom {
  background-color: #3e368c !important;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: white !important;
  border: none;
  border-radius: 0.25rem;
}

.btn-custom:hover {
  background-color: #2e2871 !important;
  color: white !important;
}

.btn-detail {
  background-color: #3e368c !important;
  color: white !important;
}

.btn-detail:hover {
  background-color: #2e2767 !important;
}

.input-group {
  max-width: 16.3125rem;
  display: flex;
  padding: 0.375rem 0.75rem;
  align-items: center;
  flex: 1 0 0;
}

@media (max-width: 576px) {
  .input-group {
    max-width: 100%;
  }
}

.container {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 2.6875rem;
  align-self: stretch;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 100%;
  box-sizing: border-box;

  background: #fff;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0.5rem;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0.25rem;
  }
}

.pagination {
  display: flex;
  justify-content: end;
  width: 100%;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.total-items {
  margin-right: 16px;
  color: #666;
}

.pagination-nav {
  display: flex;
  align-items: center;
}

.pagination-nav a,
.pagination-nav span {
  text-decoration: none;
  padding: 4px 8px;
  margin: 0 2px;
  border: 1px solid transparent;
  color: #4a3db8;
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.pagination-nav a {
  cursor: pointer;
}

.pagination-nav a.active {
  background-color: #4a3db8;
  color: white;
  border: 1px solid #4a3db8;
}

.pagination-nav a:hover {
  background-color: #eae6ff;
  border: 1px solid #4a3db8;
}

.pagination-nav a.arrow {
  font-weight: bold;
  padding: 4px 10px;
}

.pagination-nav span {
  color: #666;
  cursor: default;
}

@media (max-width: 768px) {
  .pagination {
    flex-direction: column;
    align-items: flex-start;
  }
  .pagination-nav {
    flex-direction: column;
  }
  .pagination-nav a,
  .pagination-nav span {
    margin-bottom: 8px;
  }
}